html, ul, li, div, p {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.board {
  /*border-bottom: 5px solid black;*/
  width: 750px;
  height: 750px;
  display: block;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  width: 30px;
  height: 750px;
  display: block;
  list-style-type: none;
  float: left;
  margin: 0 auto;
}

li {
  background: gray;
  width: auto;
  height: 26px;
  border: 2px dashed white;
  /*float: left;*/
  display: block;
  margin: 0 auto;
  /*opacity: 0.6;*/
}

.snake {
  background: green;
  opacity: 1;
}

.apple {
  background: red;
}
