html, ul, li, div, p, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  background: transparent;
}

ul {
  list-style: none;
}


.board {
  float: left;
  /*display: inline-block;*/
  background: hsl(150, 25%, 75%);
  border: 10px solid hsl(150, 50%, 25%);
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {

}

li {
  float: left;
  width: 22px;
  height: 22px;
}

.apple {
  background: red;
}

.snake {
  background: green;
}

.game-options {
  float: left;
  margin: 20px 100px;
}
