html, ul, li, div, p, h2, input, form {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  background: transparent;
}

body {
  background: #eee;
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
}

input, button {
  outline: 0;
  padding: 5px;
  margin: 10px 5px;
}

form {
  margin-top: 50px;
}

ul {
  list-style: none;
}

h2 {
  font-weight: bold;
}

.game {
  width: 900px;
  margin: 20px auto;
}

.title {
  margin: 30px 100px;
}

.game-options {
  display: inline-block;
  height: 510px;
  padding: 40px 80px;
}

.board {
  float: left;
  background: hsl(150, 25%, 85%);
  border-style: solid;
  border-top: 15px solid hsl(150, 40%, 30%);
  border-right: 20px solid hsl(150, 40%, 50%);
  border-bottom: 10px solid hsl(150, 40%, 30%);
  border-left: 20px solid hsl(150, 40%, 50%);
  -webkit-box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
  box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {

}

li {
  float: left;
  width: 22px;
  height: 22px;
}

.apple {
  background: red;
  border-radius: 50%;
}

.snake {
  background: green;
  border-radius: 2px;
}
